.init {
  background-color: #fafafa;
  color: #fff;
}

.containerCards {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  background-color: #fafafa;
}

.containerCards > div {
  width: 250px;
}

.text {
  text-decoration: none;
  text-align: center;
}

.text h3::first-letter {
  text-transform: uppercase;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}

.filterSearch {
  /*   width: 25%; */
}

.filter {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 12px;
  padding: 0 12px;
  margin: 24px 0;
  flex-wrap: wrap;
}

.filter p {
  color: black;
}

.select {
  /*   margin-bottom: 50px; */
  display: block;
  padding: 6px;
}

.option {
  display: flex;
  padding: 20px;
}

.create {
  display: block;
  color: black;
  text-decoration: none;
  padding: 8px 20px;
  width: 120px;
  text-align: center;
  /* border: 1px solid rgba(0, 0, 0, 0.322); */
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
}

.create:hover {
  background-color: #007bff;
  color: #fff;
}

@media (max-width: 760px) {
  .filter {
    flex-direction: column;
    align-items: flex-start;
  }
  .filterContainer {
  }
}
